.Weather {
  border: 1px solid rgb(116, 116, 183);
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 30px;
  border-radius: 6px;
}

.search-form {
  border: 1px solid rgb(116, 116, 183);
  border-radius: 5px;
  width: 250px;
  padding: 0 0 0 5px;
}

.button {
  border: 1px solid palevioletred;
  border-radius: 5px;
  background: white;
  color: palevioletred;
  margin-left: 20px;
}

#header {
  background: pink;
}

.Weather h1 {
  color: rgb(41, 41, 196);
  line-height: 28px;
  font-weight: bold;
  font-size: 50px;
  line-height: 29px;
  margin: 20px 0;
}

.Weather img {
  height: 80px;
}

.Weather .temp {
  font-size: 60px;
  color: rgb(41, 41, 196);
}

.Weather .tempUnit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -30px;
  color: rgb(41, 41, 196);
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  list-style: none;
  color: rgb(116, 116, 183);
}

.Weather ul {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
